/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#app {
	display: flex;
	justify-content: center;
}
body {
	background-color: #2c5f2d;
	font-family: "Pacifico", cursive;
}
.container {
	background-color: #97bc62ff;
	height: 600px;
	box-shadow: 0px 10px 20px 15px rgba(0, 0, 0, 0.75);
}
h1 {
	color: rgb(227, 227, 227);
	text-shadow: -1px -1px 0px black;
}
.button-delete {
	cursor: pointer;
}
.counter {
	color: rgb(187, 70, 70);
}
.form-control {
	height: 50px;
}
